In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("E:\Python\Machine Learning\datasets\Advertising.csv")

In [3]:
df

      Month     TV  radio  newspaper  sales
0    Jan-00  230.1   37.8       69.2   22.1
1    Feb-00   44.5   39.3       45.1   10.4
2    Mar-00   17.2   45.9       69.3    9.3
3    Apr-00  151.5   41.3       58.5   18.5
4    May-00  180.8   10.8       58.4   12.9
..      ...    ...    ...        ...    ...
195  16-Apr   38.2    3.7       13.8    7.6
196  16-May   94.2    4.9        8.1    9.7
197  16-Jun  177.0    9.3        6.4   12.8
198  16-Jul  283.6   42.0       66.2   25.5
199  16-Aug  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [6]:
type(df['TV'])

pandas.core.series.Series

In [4]:
df['TV']

0      230.1
1       44.5
2       17.2
3      151.5
4      180.8
       ...
195     38.2
196     94.2
197    177.0
198    283.6
199    232.1
Name: TV, Length: 200, dtype: float64

In [5]:
df[['TV', 'radio']]

        TV  radio
0    230.1   37.8
1     44.5   39.3
2     17.2   45.9
3    151.5   41.3
4    180.8   10.8
..     ...    ...
195   38.2    3.7
196   94.2    4.9
197  177.0    9.3
198  283.6   42.0
199  232.1    8.6

[200 rows x 2 columns]

In [7]:
type(df[['TV', 'radio']])

pandas.core.frame.DataFrame

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Month      200 non-null    object
 1   TV         200 non-null    float64
 2   radio      200 non-null    float64
 3   newspaper  200 non-null    float64
 4   sales      200 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.9+ KB

In [10]:
df[['TV', 'radio', 'newspaper', 'sales']].corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000

### Observations:

TV is correlated by 0.7

### interpretation

if corr is +ve then x and y are +corr   as x increases y is also incresing
           -ve corr then as x increases y is descresing
           
strong corr  >0.7  
moderate    >0.5
mild        >0.3
no

In [11]:
X = df[['TV', 'radio', 'newspaper']]

In [13]:
y = df['sales']

In [16]:
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [17]:
import sklearn

In [18]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test= train_test_split(X,y)

In [22]:
X_train.shape

(150, 3)

In [23]:
X_test.shape

(50, 3)

In [24]:
X_train1, X_test1, y_train1, y_test1= train_test_split(X,y, test_size=0.2)

In [26]:
X_train1.shape

(160, 3)

In [27]:
from sklearn.linear_model import LinearRegression

In [29]:
regobj = LinearRegression()

In [30]:
regobj.fit(X_train, y_train)

LinearRegression()

In [32]:
y_pred = regobj.predict(X_test)

In [33]:
y_test-y_pred

91     3.136981
112    0.335851
135   -2.341037
195    2.528901
54    -0.189176
84     0.883657
120    1.208403
78    -3.327574
51     1.569718
60     2.659227
176    0.213656
150   -2.202661
67     1.519998
126   -3.809024
143    1.885207
90     1.411416
119    0.036751
197    0.164441
25    -3.489839
113   -0.436007
179    0.380056
76     2.746694
26     0.088941
187    0.269864
12    -1.190539
24     1.789818
32     2.235813
43    -0.918055
66     0.670512
38     0.382481
146   -1.983438
110   -1.205552
29     1.584896
183    2.000118
22    -0.605869
198    1.670135
71     1.971749
14     0.600528
175    2.101353
193    1.098564
36     1.889107
117    3.113046
147    2.056411
107    1.872860
80     0.508129
64     1.052228
87     0.490629
8      1.394795
188   -2.709545
50    -1.045592
Name: sales, dtype: float64

In [34]:
from sklearn.metrics import r2_score, mean_squared_error , mean_absolute_error

In [35]:
r2_score(y_test, y_pred)

0.9035638372592929

In [36]:
mean_absolute_error(y_test, y_pred)

1.499536906563903