1. The first main data type we will learn about for pandas is the Series data type. 


2. A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). 


3. What differentiates the NumPy array from a Series, is that a Series can have axis labels,      meaning it can be indexed by a label, instead of just a number location. 


4. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

In [9]:
 'The data science. class has started.'.split(".")

['The data science', ' class has started', '']

In [3]:
import numpy as np

In [1]:
import pandas as pd

In [6]:
x= ['a','b','c']
m = '1 2 3'.split()
print(m)
print(x)

['1', '2', '3']
['a', 'b', 'c']

In [3]:
x1 =pd.Series(x)

In [7]:
x1

0    a
1    b
2    c
dtype: object

In [5]:
type(x1)

pandas.core.series.Series

In [8]:
x1.index = ['Atharv','anay','Chechi']

In [9]:
x1

Atharv    a
anay      b
Chechi    c
dtype: object

In [10]:
d1= {'name':'anita', 'mobile': 123456789, 'place': 'pune'}

In [11]:
info1 = pd.Series(d1)

In [13]:
info1.index

Index(['name', 'mobile', 'place'], dtype='object')

In [14]:
info1

name          anita
mobile    123456789
place          pune
dtype: object

In [15]:
info1['name']

'anita'

In [16]:
info1.mobile

123456789

In [19]:
info1['name'] = 'Sunita'

In [17]:
info1.mobile = 7867890987

In [20]:
info1

name          Sunita
mobile    7867890987
place           pune
dtype: object

In [24]:
info1.loc['mobile':'name']

Series([], dtype: object)

In [25]:
info1.loc[['name','place']]

name     Sunita
place      pune
dtype: object

In [27]:
info1.iloc[0:3]

name          Sunita
mobile    7867890987
place           pune
dtype: object

In [28]:
info1.shape

(3,)

In [16]:
info1.index = ['A','B','C']

In [10]:
c

[10, 20, 30]

In [11]:
np_c = np.array(c)
np_c

array([10, 20, 30])

In [12]:
pd.Series(np_c)

0    10
1    20
2    30
dtype: int32

In [11]:
cs = pd.Series(c)

In [17]:
cs

A    10
B    20
C    30
dtype: int64

In [14]:
cs.index= x

In [16]:
cs.index= ['A','B','C']

In [7]:
cs.shape

(3,)

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [30]:
labels = ['a','b','c']
l1="a b c".split()
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [10]:
arr

array([10, 20, 30])

In [11]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [31]:
my_list, l1

([10, 20, 30], ['a', 'b', 'c'])

In [32]:
ser=pd.Series(my_list, index = l1)
ser

a    10
b    20
c    30
dtype: int64

In [13]:
ser=pd.Series(my_list, index = ['x','y','z'])

In [17]:
ser

p    10
q    20
r    30
dtype: int64

In [16]:
ser.index = ['p','q', 'r']

** Using Lists**

In [22]:
my_list

['10', 20, 30]

In [8]:
my_ser = pd.Series(data=my_list)

In [33]:
my_list,  labels

([10, 20, 30], ['a', 'b', 'c'])

In [34]:
my_ser2= pd.Series(data=my_list,index=labels)

In [35]:
my_ser2

a    10
b    20
c    30
dtype: int64

In [18]:
my_ser2[1]

20

In [19]:
my_ser2['b']

20

In [ ]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

** NumPy Arrays **

In [ ]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [ ]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

** Dictionary**

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [20]:
d2 = {"a":10, "b":20, "c":30, 'D':40}

In [21]:
pd.Series(d2)

a    10
b    20
c    30
D    40
dtype: int64

In [39]:
d1= {"a":[1,2,3,8],
    "b":[10,11,12,16]}

In [34]:
ser_dict= pd.Series(d1)
ser_dict

a    [1, 2, 3, 8]
b    [10, 11, 12]
dtype: object

In [31]:
type(ser_dict)

pandas.core.series.Series

In [37]:
pd.DataFrame(d1)

ValueError: All arrays must be of the same length

In [36]:
pd.DataFrame(ser_dict)

              0
a  [1, 2, 3, 8]
b  [10, 11, 12]

In [22]:
ser_dict.index = ["AA","AB"]

In [26]:
type(ser_dict)

pandas.core.series.Series

In [40]:
df =pd.DataFrame(d1)

In [47]:
type(df)

pandas.core.frame.DataFrame

In [45]:
df['b']

0    10
1    11
2    12
3    16
Name: b, dtype: int64

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [51]:
df['c']=df['a']+df['b']

In [48]:
df

   a   b   c
0  1  10  11
1  2  11  13
2  3  12  15
3  8  16  24

In [28]:
type(df['a'])

pandas.core.series.Series

### Data in a Series

A pandas Series can hold a variety of object types:

In [ ]:
pd.Series(data=labels)

NameError: name 'pd' is not defined

In [28]:
# Even functions (although unlikely that you will use this)
a= pd.Series([sum,print,len])
a

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [29]:
a[2]

## Using an Index

1.The key to using a Series is understanding its index.

2.Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).
*italicized text*

In [49]:
import pandas as pd

In [59]:
ser1 = pd.Series([10,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [53]:
ser1

USA        10
Germany     2
USSR        3
Japan       4
dtype: int64

In [57]:
ser2 = pd.Series([9,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [29]:
type(ser2['USA'])

numpy.int64

In [51]:
type(ser2['Japan'])

numpy.int64

In [59]:
ser1

USA        10
Germany     2
USSR        3
Japan       4
dtype: int64

In [60]:
ser2

USA        9
Germany    2
Italy      5
Japan      4
dtype: int64

Operations are then also done based off of index:

In [55]:
b= ser1 +ser2
print(type(b))
b

<class 'pandas.core.series.Series'>

Germany     4.0
Italy       NaN
Japan       8.0
USA        19.0
USSR        NaN
dtype: float64

In [35]:
ser1

USA        10
Germany     2
USSR        3
Japan       4
dtype: int64

In [61]:
def fun_name(x):
    if x%5 ==0:
        return x*100
    else:
        return x*10

In [37]:
fun_name(19)

190

In [ ]:
ser1.apply(fun_name)

USA        10
Germany     2
USSR        3
Japan       4
dtype: int64

In [62]:
ser1.apply(fun_name)

USA        1000
Germany      20
USSR         30
Japan        40
dtype: int64

In [38]:
ser1.apply(fun_name)

USA        1000
Germany      20
USSR         30
Japan        40
dtype: int64

In [63]:
b

Germany     4.0
Italy       NaN
Japan       8.0
USA        19.0
USSR        NaN
dtype: float64

In [64]:
b.argmax()

np.int64(3)

In [65]:
 b.argsort()

C:\Users\ajoti\AppData\Local\Temp\ipykernel_108088\2792565887.py:1: FutureWarning: The behavior of Series.argsort in the presence of NA values is deprecated. In a future version, NA values will be ordered last instead of set to -1.
  b.argsort()

Germany    0
Italy     -1
Japan      1
USA        2
USSR      -1
dtype: int64

In [31]:
s = pd.Series([2,6,4,8,3], index = ['A','B','C','D','E'])

# END

In [33]:
s.argsort()

A    0
B    4
C    2
D    1
E    3
dtype: int64

In [61]:
s[s.argsort()]

A    2
E    3
C    4
B    6
D    8
dtype: int64

#### change nan values to 0 and other than numeric values to -1

In [74]:
import numpy as np
d1 = {'a':[1,2,'a',4, np.nan],
      'b':[2,np.nan,'v',3,9]}

In [75]:
df1 = pd.DataFrame(d1)

In [78]:
def CleanData(x):
    if pd.isnull(x):
        return 0
    else:
        if type(x)==str:
            return -1
        else:
            return x

In [ ]:
df1["new_a"] = df1['a'].apply(CleanData)

In [ ]:
for i in df1.columns:
    df1[i] = df1[i].apply(CleanData)

In [86]:
df1

   a  b  new_a
0  1  2      1
1  2  0      2
2 -1 -1     -1
3  4  3      4
4  0  9      0