In [23]:
import pandas as pd

In [24]:
df =pd.read_csv(r"E:\Python\Machine Learning\datasets\breastcancer_orig.csv")

In [25]:
df.head()

,code,Clump_Thickness,Cell_Size,Cell_Shape,Adhesion,Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [26]:
df.shape

(699, 11)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   code                  699 non-null    int64
 1   Clump_Thickness       699 non-null    int64
 2   Cell_Size             699 non-null    int64
 3   Cell_Shape            699 non-null    int64
 4   Adhesion              699 non-null    int64
 5   Epithelial_Cell_Size  699 non-null    int64
 6   Bare_Nuclei           699 non-null    object
 7   Bland_Chromatin       699 non-null    int64
 8   Normal_Nucleoli       699 non-null    int64
 9   Mitoses               699 non-null    int64
 10  Class                 699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [37]:
df.Bare_Nuclei.unique()

array(['1', '10', '2', '4', '3', '9', '7', 0, '5', '8', '6'], dtype=object)

In [29]:
df[df.Bare_Nuclei=="?"]

,code,Clump_Thickness,Cell_Size,Cell_Shape,Adhesion,Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
23,1057013,8,4,5,1,2,?,7,3,1,4
40,1096800,6,6,6,9,6,?,7,8,1,2
139,1183246,1,1,1,1,1,?,2,1,1,2
145,1184840,1,1,3,1,2,?,2,1,1,2
158,1193683,1,1,2,1,3,?,1,1,1,2
164,1197510,5,1,1,1,2,?,3,1,1,2
235,1241232,3,1,4,1,2,?,3,1,1,2
249,169356,3,1,1,1,2,?,3,1,1,2
275,432809,3,1,3,1,2,?,2,1,1,2
292,563649,8,8,8,1,2,?,6,10,1,4
294,606140,1,1,1,1,2,?,2,1,1,2
297,61634,5,4,3,1,2,?,2,3,1,2
315,704168,4,6,5,6,7,?,4,9,1,2
321,733639,3,1,1,1,2,?,3,1,1,2
411,1238464,1,1,1,1,1,?,2,1,1,2
617,1057067,1,1,1,1,1,?,1,1,1,2

In [11]:
df

,code,Clump_Thickness,Cell_Size,Cell_Shape,Adhesion,Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [30]:
df.Bare_Nuclei = df.Bare_Nuclei.replace('?',0)

In [33]:
df.Bare_Nuclei = df.Bare_Nuclei.astype('int')

0       1
1      10
2       2
3       4
4       1
       ..
694     2
695     1
696     3
697     4
698     5
Name: Bare_Nuclei, Length: 699, dtype: int32

In [ ]:
train =df[df.Bare_Nuclei==0]

In [35]:
test =df[df.Bare_Nuclei==0]

In [36]:
test

,code,Clump_Thickness,Cell_Size,Cell_Shape,Adhesion,Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
23,1057013,8,4,5,1,2,0,7,3,1,4
40,1096800,6,6,6,9,6,0,7,8,1,2
139,1183246,1,1,1,1,1,0,2,1,1,2
145,1184840,1,1,3,1,2,0,2,1,1,2
158,1193683,1,1,2,1,3,0,1,1,1,2
164,1197510,5,1,1,1,2,0,3,1,1,2
235,1241232,3,1,4,1,2,0,3,1,1,2
249,169356,3,1,1,1,2,0,3,1,1,2
275,432809,3,1,3,1,2,0,2,1,1,2
292,563649,8,8,8,1,2,0,6,10,1,4
294,606140,1,1,1,1,2,0,2,1,1,2
297,61634,5,4,3,1,2,0,2,3,1,2
315,704168,4,6,5,6,7,0,4,9,1,2
321,733639,3,1,1,1,2,0,3,1,1,2
411,1238464,1,1,1,1,1,0,2,1,1,2
617,1057067,1,1,1,1,1,0,1,1,1,2

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   code                  699 non-null    int64
 1   Clump_Thickness       699 non-null    int64
 2   Cell_Size             699 non-null    int64
 3   Cell_Shape            699 non-null    int64
 4   Adhesion              699 non-null    int64
 5   Epithelial_Cell_Size  699 non-null    int64
 6   Bare_Nuclei           699 non-null    object
 7   Bland_Chromatin       699 non-null    int64
 8   Normal_Nucleoli       699 non-null    int64
 9   Mitoses               699 non-null    int64
 10  Class                 699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [38]:
X=df[['Clump_Thickness','Cell_Size','Cell_Shape','Adhesion','Epithelial_Cell_Size','Bare_Nuclei','Bland_Chromatin','Normal_Nucleoli','Mitoses']]

In [39]:
y=df["Class"]

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train,X_test,y_train, y_test=train_test_split(X,y)

In [42]:
print(X_train.shape)
print(y_train.shape)

(524, 9)
(524,)

In [44]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
from sklearn.ensemble import

In [45]:
gb=GradientBoostingClassifier()

In [46]:
gb.fit(X_train,y_train)

GradientBoostingClassifier()

In [48]:
y_pred = gb.predict(X_test)

In [49]:
from sklearn.metrics import confusion_matrix

In [50]:
confusion_matrix(y_test,y_pred)

array([[119,   6],
       [  2,  48]], dtype=int64)

In [51]:
from sklearn.metrics import classification_report

In [53]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           2       0.98      0.95      0.97       125
           4       0.89      0.96      0.92        50

    accuracy                           0.95       175
   macro avg       0.94      0.96      0.95       175
weighted avg       0.96      0.95      0.95       175

In [54]:
from sklearn.metrics import accuracy_score

In [55]:
accuracy_score(y_test, y_pred)

0.9542857142857143